* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 100vw;
  height: 100vh;
  background: url("../../../assets/blob-scatter-haikei-second.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: none;
  background-position: center;
}
.title{
  display: flex;
  color: black;
  align-items: center;
  font-weight: bold;
  font-size: 38px;
  flex-direction: column;
  justify-content: center;
}
.biography {
  display: flex;
  margin: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  line-height: 35px;
  min-height: 430px;
  max-height: 430px;
  z-index: 1;
  text-align: justify;
}

.biography p {
  min-width: 430px;
  max-width: 800px;
  font-size: 28px;
  color: black;
}
.photo {
  width: 290px;
  height: 320px;
  overflow: hidden;
}

.photo img {
  object-fit: cover;
  border-radius: 18px;
}