* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.skill {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.8rem;
    min-width: 30%;
    padding: 5px ;
  }
  .skill svg {
    font-size: 2.5rem;
  }