body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif; 
}

.navbar {
    width: 100%;
    background-color: white;
    color: #3D3B3B;
    padding: 20px;
    position: sticky;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    z-index: 2;
}

.navbar a {
    margin: 0 30px;
    text-decoration: none;
    color: #3D3B3B;
    font-weight: bold;
    cursor: pointer;
    transition: .25s all ease-in-out;
}

.navbar a:hover {
    color: gray;

}